<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 批量删除商品类目 -->
<mapper namespace="com.pingyougou.mapper.ItemCatMapper">
	<delete id="deleteById">
		delete from tb_item_cat where id IN
		<foreach collection="list" item="id"
				 open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>